 body {
 	min-width: 960px;
	font-size: 14px;
	line-height: 24px;
	font-weight: 700;
	font-family: PT Sans Narrow, Arial, sans-serif;
	color: #ffffff;
	text-transform: uppercase;
	background: #000000 url(../img/background.jpg) no-repeat center top;

} 


/*Фон для каталога*/

.content {
    color: #000000;
    background: #f8f5f2 url(../img/background-catalog.png) no-repeat center top;
}

.features-name {
	font-size: 30px;
	line-height: 42px;
	color: #f7f4f1;
}

.index-content-title {
    font-size: 30px;
	line-height: 42px;
}

.breadcrumbs h1 {
	font-size: 30px;
	line-height: 42px;	
} 

h2 {
	font-size: 24px;
	line-height: 27px;
}

h3 {
	line-height: 18px;
}

.clearfix::after {
    display: table;
	content: "";
	clear: both;
} 

/*Header*/
.main-header {
	margin-bottom: 58px;
	color: #ffffff;
	background-color: #000000;	
}

.container {
	width: 940px;
	padding-left: 10px;
	padding-right: 10px;
	margin: auto;

}

.index-logo-mini {
	float: left;
	width: 100px;
	
}

.main-navigation {
	float: left;
	width: 620px;
	font-size: 0;
}

.main-navigation li{
	display: inline-block;
	vertical-align: middle;
	padding-top: 2px;
	font-size: 16px;
	line-height: 20px;

}

.navigation {
	padding: 25px 20px;
}

.navigation-item {
	font-size: 16px;
	padding-bottom: 23px;
	line-height: 20px;
	color: #ffffff;
	text-decoration: none;
}

.main-navigation .navigation:hover {
	background: #242424;
}

.item-shop {
	border-bottom: 4px solid #ffffff;
}

.user-block {
	max-width: 140px;
	float: right;	
}

.login {
	position: relative;
	display: inline-block;
	padding: 27px 20px;
	padding-left: 50px;
	font-size: 16px;
	line-height: 20px;
	vertical-align: top;
	color: #ffffff;
	text-decoration: none;
}

.login:hover {
	background-color: #242424;
}

.login::before{
	content: "";
    position: absolute;
    top: 28px;
    left: 20px;
	width: 18px;
	height: 18px;
	background: transparent url(../img/icon/sprait.png) no-repeat;
	background-position: -10px -126px;
	opacity: 0.3;
}

.login:hover::before {
	opacity: 1;
}
/*index*/
.index-logo {
	width: 368px;
	height: 204px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 25px;
}

.index-logo img {
	width: 368px;
	height: 204px;
}

.features {
	margin-bottom: 80px;
	
}

.features-item {
	float: left;
	width: 300px;
	margin-right: 20px;
	text-align: center;
}

.features-item:last-child {
	margin-right: 0;	
}

.features-name {
    position: relative;
	display: block;
    margin-bottom: 30px;
    padding-bottom: 35px;
	font-size: 30px;
	line-height: 42px;
}

.features-item p {
	margin: 10px;
	margin-bottom: 0;
}

.features-name::after {
	content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
	display: block;
	width: 20px;
	height: 20px;
    margin-left: -10px;
	background-color: #ffffff;
	transform: rotate(45deg);
}

.index-content {
	padding-left: 80px;
	padding-right: 80px;
	padding-top: 50px;
	padding-bottom: 50px; 
	margin-bottom: 35px; 
	color: #000000;
	background: url(../img/shade-line.png) no-repeat center,
	#f8f5f2 url(../img/background-2.png);
}

.index-content-left {
	float: left;
	width: 380px;
	
}

.index-content-right {
	float: right;
	width: 300px;
	
}

.index-content-title {
	margin: 0;
	margin-bottom: 25px;
	font-size: 30px;
	line-height: 42px;
}

.index-content p {
	margin: 0;
	margin-bottom: 25px;
}

.news-preview {
	margin: 0;
	padding: 0;
	padding-right: 35px;
	list-style: none;
}

.news-preview li {
	margin-bottom: 25px;
}

.news-preview p {
	margin-bottom: 0;
}

.news-preview time {
	text-transform: none;
}

.btn {
    display: inline-block;
    margin-right: 16px;
    margin-top: 31px;
    padding: 9px 29px;
    font: inherit;
    vertical-align: top;
    text-align: center;
    text-transform: inherit;
    color: #ffffff;
    background-color: #000000;
    border: none;
    outline: none;
    cursor: pointer;
}

.btn:hover,
.btn:active {
    background-color: #663d15;
}

.btn.disabled,
.btn:disabled {
    cursor: default;
    opacity: 0.5;
}

.btn.disabled:hover,
.btn:disabled:hover {
    background-color: #000000;
}

.gallery {
    position: relative;

    height: 260px;
}

.gallery-content {
    height: 164px;
    margin: 0;
}

.gallery-content img {
    width: 286px;
    height: 164px;
}

.gallery .btn {
    position: absolute;
    bottom: 0; 
    width: 140px;
    margin: 0;
}

.gallery-prev {
    left: 0;
}

.gallery-next {
    right: 0;
}

.appointment-form input {
    float: left;
    width: 106px;
    margin-right: 20px;
    margin-bottom: 20px;
    padding: 7px 15px;
    font: inherit;
    color: inherit;
    text-transform: inherit;
    background-color: #f9f6f3;
    border: 2px solid #000000;
    outline: none;
}

.appointment-form input:focus {
    border: 2px solid #663d15;
}

.appointment-form input:nth-child(2n) {
    margin-right: 0;
}

.appointment-form .btn {
    clear: both;
    width: 100%;
}

/*catalog*/

.index-logo-mini {
	display: inline-block;
	width: 70px;
    vertical-align: top;
    padding: 18px 20px;
    padding-top: 24px;
}

.index-logo-mini img {
	width: 111px; 
	height: 24px;
}

.breadcrumbs {
	width: 940px;
	margin-bottom: 48px;
    padding-top: 1px;
}

.breadcrumbs-item {
	position: relative;
	margin-right: 21px;
	padding-right: 15px;
	text-decoration: none;
	color: #000000;
}

.breadcrumbs-item.disabled,
.breadcrumbs-item:disabled {
    pointer-events: none;
    cursor: default;
    color: #aba9a7;
   
}

.rhomb {
    padding-right: 23px;
}

.rhombs {
    padding-right: 23px;
}

.breadcrumbs-item::after {
	content: "";
    position: absolute;
    left: 63px;
    top: 4px;
	display: block;
	width: 8px;
	height: 8px;
	background-color: #000000;
	transform: rotate(45deg);
}

.breadcrumbs-item:nth-child(3)::after {
	margin-right: 7px;
}

.breadcrumbs-item:last-child::after {
	background: none;
}

.rhomb:after {
   left: 69px; 
}

.rhombs:after {
   left: 138px; 
} 

.product-groups {
	width: 220px;
	float: left;
	margin-right: 20px;
}

.filter-top-title1 {
	display: inline-block;
	margin: 0;
	margin-bottom: 13px;
	padding: 0;
}

.filter-top-title2 {
	display: inline-block;
	margin: 0;
	margin-top: 34px;
	margin-bottom: 9px;
	padding: 0;
}

.product-groups ul {
	list-style: none;
	padding: 0;
}

input[type="checkbox"] {
	display: none;
}

input[type="checkbox"] + label{
	position: relative;
	display: block;
	margin: 18px 0;
	padding-left: 43px;
	line-height: 19px;
    cursor: pointer;
}

input[type="checkbox"] + label::before {
	position: absolute;
    content: ""; 
    top: 0;
    left: 0;
    width: 16px;
    height: 16px;
    border: 2px solid #000000;
    background-color: #f9f6f3;
}

input[type="checkbox"]:checked + label::after {
	position: absolute;
	content: "";
	width: 12px;
    height: 12px;
    left: 4px;
    top: 4px;
    background-image: url(../img/icon/sprait.png); 
    background-position: -10px -10px; 
} 

input[type="radio"] {
	display: none;
}

input[type="radio"] + label {
    position: relative;
    display: block;
    margin: 20px 0;
    line-height: 18px;
    padding-left: 44px;
    cursor: pointer;
}

input[type="radio"] + label::before {
	position: absolute;
    content: ""; 
    top: 0;
    left: 0;
    width: 16px;
    height: 16px;
    border: 2px solid #000000;
    border-radius: 10px;
    background-color: #f9f6f3;
}

input[type="radio"]:checked + label::after {
	position: absolute;
	content: "";
	width: 8px;
    height: 8px;
    left: 6px;
    top: 6px;
    background-color: #000000;
    border-radius: 10px;
}

.filter-show {
    display: inline-block;
    margin-right: 16px;
    margin-top: 31px;
    padding-bottom: 10px;
    padding-top: 9px;
    padding-left: 33px;
    padding-right: 28px;
    font: inherit;
    font-size: 13px;
    vertical-align: top;
    text-align: center;
    text-transform: inherit;
    color: #ffffff;
    background-color: #000000;
    border: none;
    outline: none;
    cursor: pointer;
}

.product-groups li:hover {
    color: #663d15;
}

.product-list {
	float: right;
	width: 700px;
	font-size: 0;
	margin-bottom: 19px;
}

.product {
	margin-bottom: 44px;
}

.list-item {
	display: inline-block;
    vertical-align: top;
    width: 220px;
    height: 286px;
    margin-top: 5px;
    margin-bottom: 15px;
    margin-right: 20px;
    font-size: 14px;
    box-shadow: 0 0 10px 5px #e2dfdc;
    background: #ffffff;
}

.link {
	margin-top: 8px;
    padding-left: 15px;
    font-size: 0px;
    line-height: 13px;
}

.small-letters {
	font-size: 14px;
    text-transform: none;
}

.big-letters {
	font-size: 14px;
	text-transform: uppercase;
}

.list-item a {
	text-decoration: none;
	color: #000000;
	text-align: left;
}

.price-container {
	font-size: 14px;
    margin-top: 10px;
    margin-left: 15px;
}

.price {
    float: left;
    width: 110px;
    height: 33px;
    padding-top: 9px;
    text-align: center;
    background-color: #e5e5e5;
}

.btn-price {
    float: left;
    font: inherit;
    width: 78px;
    padding-top: 10px;
    padding-bottom: 9px;
    padding-left: 7px;
    padding-right: 6px;
    text-transform: inherit;
    color: #ffffff;
    background-color: #000000;
    border: none;
    outline: none;
    cursor: pointer;
}

.btn-price:hover,
.btn-price:active {
    background-color: #663d15;
}

.list-item:nth-child(3n) {
    margin-right: 0;
}

.list-item img {
	width: 220px;
	height: 165px;
}

.pages {
    margin-top: -5px;
    margin-bottom: 5px;
	font-size: 14px;
}

.pages-number {
    padding-top: 12px;
    padding-bottom: 13px;
    padding-left: 18px;
    padding-right: 19px;
    margin-right: 4px;
    color: #ffffff;
    text-decoration: none;
    background: #000000;
}

.pages-number:hover,
.pages-number:active {
	background-color: #663d15;
}

.pages-number.disabled,
.pages-number:disabled {
   cursor: default;
   color: #000000;
   background: #ffffff;
}

/*catalog-item*/
.product-information {
    margin-top: 5px;
}

.product-photo {
	width: 460px;
    display: inline-block;
    margin-bottom: 8px;
}

.big-photo 	{
	margin-bottom: 13px;
    margin-top: 6px;
    box-shadow: 0 0 10px 5px #e2dfdc;
}

.mini-photo {
	margin-right: 17px;
    font-size: 14px;
    box-shadow: 0 0 10px 5px #e2dfdc;
}

.mini-photo:last-child {
	margin-right: 0;
}

.kit-description {
	float: right;
	width: 400px;	
}

.short-description {
	margin-bottom: 61px;
    margin-left: 9px;
    padding-top: 11px;
}

.description {
    font-size: 14px;
    line-height: 24px;
}

.article {
    padding-left: 175px;
    color: #aeaeae;
}
 	
.text {
	margin: 30px 0;
}

.text a {
	color: #000000;
}

.kit-price .price {
    float: left;
    width: 110px;
    height: 34px;
    margin-top: 5px;
    padding-top: 8px;
    text-align: center;
    background-color: #e5e5e5;
}

.kit-price .btn {
    float: left;
    font: inherit;
    width: 78px;
    margin-top: 4px;
    padding-bottom: 10px;
    padding-left: 7px;
    padding-right: 6px;
    text-transform: inherit;
    color: #ffffff;
    background-color: #000000;
    border: none;
    outline: none;
    cursor: pointer;
}

.kit-price .btn:hover {
    background-color: #663d15;
}

.kit-contents {
	margin-left: 10px;
}

.kit-contents h2 {
	font-size: 24px;
	line-height: 30px;
    padding-bottom: 10px;
}

.kit-contents ul {
	padding: 0;
	list-style: none;
	font-size: 14px;
	line-height: 24px;
}

.kit-contents li {
	position: relative;
	padding-left: 20px;
	padding-bottom: 0;
}

.kit-contents li:before {
    content: '';
    position: absolute;
    top: 8px;
    left: 0;
    display: block;
    width: 7px;
    height: 7px;
    background: #000000;
    transform: rotate(45deg);
}


/*price*/

.inner-page {
    color: #000000;

    background: #f8f3f0 url("img/pattern-white.jpg") repeat;
}

.gallery {
    position: relative;
    height: 260px;
}

.gallery-content {
    height: 164px;
    margin: 0;
    background-color: #cccccc;
    border: 7px solid #ffffff;
}

.gallery-content img {
    width: 286px;
    height: 164px;
}

.gallery .btn {
    position: absolute;
    bottom: 0;
    width: 140px;
    margin: 0;
}

.gallery-prev {
    left: 0;
}

.gallery-next {
    right: 0;
}

.appointment-form input {
    float: left;
    width: 106px;
    margin-right: 20px;
    margin-bottom: 20px;
    padding: 7px 15px;
    font-size: 14px;
    line-height: 24px;
    font-family: "PT Sans Narrow", "Arial", sans-serif;
    color: #000000;
    text-transform: uppercase;
    background-color: #f9f6f3;
    border: 2px solid #000000;
    outline: none;
}

.appointment-form input:focus {
    border: 2px solid #663d15;
}

.appointment-form input:nth-child(2n) {
    margin-right: 0;
}

.appointment-form .btn {
    clear: both;
    width: 100%;
}

.inner-page-title {
    margin-bottom: 55px;
}

.inner-page-title h1 {
    margin: 0;
    margin-bottom: 20px;
    padding: 0;
    font-size: 30px;
    line-height: 42px;
}

.breadcrumbs {
    margin: 0;
    padding: 0;
    list-style: none;
}

.breadcrumbs li {
    position: relative;
    display: inline;
    padding-right: 40px;
}

.breadcrumbs li::after {
    content: "";
    position: absolute;
    top: 4px;
    right: 18px;
    width: 8px;
    height: 8px;
    background-color: #000000;
    transform: rotate(45deg);
}

.breadcrumbs a {
    color: #000000;
    text-decoration: none;
}

.breadcrumbs a:hover {
    text-decoration: underline;
}

.breadcrumbs .current {
    color: #aba9a7;
}

.breadcrumbs .current::after {
    display: none;
}

.inner-content {
    margin-bottom: 75px;
}

.inner-content h2 {
    margin-top: 60px;
    margin-bottom: 30px;
    font-size: 24px;
    line-height: 30px;
}

.inner-content p {
    margin: 14px 0;
}

.inner-content table {
    border-collapse: collapse;
}

.inner-content td {
    padding: 10px 15px;
    border: 2px solid #000000;
}

.big-heading {
    margin-top: 55px;
    margin-bottom: 65px;
    text-align: center;
}

.big-heading h2 {
    position: relative;
    z-index: 2;
    display: inline-block;
    margin: 0;
    padding: 0 25px;
    font-size: 48px;
    line-height: 48px;
    text-align: center;
    background: #f8f3f0 url("../img/pattern-white.jpg") repeat;
}

.big-heading::after {
    content: "";
    position: relative;
    top: -25px;
    z-index: 1;
    display: block;
    border-bottom: 2px solid #000000;
}

.custom-list-1 {
    margin: 14px 0;
    padding: 0;
    list-style: none;
}

.custom-list-1 li {
    position: relative;
    margin-bottom: 15px;
    padding-left: 20px;
}

.custom-list-1 li::before {
    content: "";
    position: absolute;
    top: 8px;
    left: 0;
    width: 8px;
    height: 8px;
    background-color: #000000;
    transform: rotate(45deg);
}

.prices-table {
    width: 100%;
}

.prices-table td {
    width: 50%;
}

.prices-table td:last-child {
    text-align: center;
}

.short-text {
    padding-right: 80px;
}

.inner-columns {
    margin: 60px 0;
}

.inner-column-left,
.inner-column-right {
    width: 460px;
}

.inner-column-left {
    float: left;
}

.inner-column-right {
    float: right;
}

.inner-column-left > *:first-child,
.inner-column-right > *:first-child {
    margin-top: 0;
}

.inner-column-left > *:last-child,
.inner-column-right > *:last-child {
    margin-bottom: 0;
}

/*footer*/
.main-footer {
	margin-top: 35px;
	padding-top: 56px;
    padding-bottom: 45px;
    color: #ffffff; 
    background: #252525 url(../img/pattern-black.jpg);
	
}

.footer-contacts {
    min-height: 90px;
    float: left;
    width: 318px;
    margin-right: 63px;
   
}

.footer-contacts a {
	color: #ffffff;
}

.footer-contacts a:hover {
	text-decoration: none;
}

.footer-social {
    float: left;
    width: 180px;
    text-align: center;
}

.footer-social p {
    margin: 0;
    margin-bottom: 15px;
}

.social-btn {
    display: inline-block;
    width: 43px;
    height: 43px;
    margin: 0 2px;
    font-size: 0;
    vertical-align: top;
    text-decoration: none;
    background: #000000 url(../img/icon/sprait.png) no-repeat center;
}

.social-btn:hover {
    background-color: #ffffff;
}

.social-btn-vk {
    background-position: -1px -303px;
}

.social-btn-fb {
    background-position: 4px -33px;
}

.social-btn-inst {
    background-position: 1px -152px;
}

.social-btn-vk:hover {
    background-position: -2px -340px;
}

.social-btn-fb:hover {
    background-position: 4px -75px;
}

.social-btn-inst:hover {
    background-position: 1px -193px;
}

.footer-copyright {
    float: right;
    max-width: 180px;
    
}

.footer-copyright p {
    margin: 0;
    margin-right: 4px;
    text-align: center;
}

.footer-copyright .btn {
    width: 140px;
    height: 33px;
    margin-top: 15px;
    margin-right: -3px;
    padding-bottom: 0px;
    padding-right: 0px;
    padding-top: 9px;
    padding-left: 1px;
    color: #ffffff;
    background-color: #000000;
    border: none;
    outline: none;
    cursor: pointer;
}

.footer-copyright .btn:hover {
    color: #000000;
    background-color: #ffffff;
}

/* Всплывающая форма */

@keyframes bounce {
    0% {
        transform: translateY(-2000px);
    }
    70% {
        transform: translateY(30px);
    }
    90% {
        transform: translateY(-10px);
    }
    100% {
        transform: translateY(0);
    }
}

@keyframes shake {
    0%, 100% {
      transform: translateX(0);
    }
    10%, 30%, 50%, 70%, 90% {
      transform: translateX(-10px);
    }
    20%, 40%, 60%, 80% {
      transform: translateX(10px);
    }
}

.modal-content {
    position: absolute;
    top: 120px;
    left: 50%;
    display: none;
    width: 300px;
    margin-left: -230px;
    padding: 50px 80px;
    color: #000000;
    background: #f8f3f0 url("../img/login-background.jpg");
    box-shadow: 0 30px 50px rgba(0, 0, 0, 0.7);
}

.modal-content-map {
    position: fixed;
    top: 50%;
    left: 50%;
    display: none;
    width: 766px;
    height: 561px;
    margin-top: -280px;
    margin-left: -390px;

    background: #e9e5dc url("../img/map.jpg");
    border: 7px solid white;
    box-shadow: 0 30px 50px rgba(0, 0, 0, 0.7);
}

.modal-content-show {
  display: block;
  animation: bounce 0.6s;
}

.modal-error {
  animation: shake 0.6s;
}

.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
}

.modal-content-close {
    position: absolute;
    top: 0;
    right: -34px;
    width: 22px;
    height: 22px;

    font-size: 0;

    background-color: transparent;
    border: 0;
    outline: 0;
    cursor: pointer;
}

.modal-content-close::before,
.modal-content-close::after {
    content: "";
    position: absolute;
    top: 10px;
    left: 2px;
    width: 19px;
    height: 3px;
    background-color: #d0d0d0;
    border-radius: 1px;
}

.modal-content-close::before {
    transform: rotate(45deg);
}

.modal-content-close::after {
    transform: rotate(-45deg);
}

.modal-content h2 {
    margin: 0;
    margin-bottom: 20px;

    font-size: 30px;
    line-height: 42px;
}

.modal-content p {
    margin: 0;
    margin-bottom: 14px;
}

.modal-content .login-form {
    margin-top: 30px;
    margin-bottom: 10px;
}

.login-form input[type="text"],
.login-form input[type="password"] {
    width: 241px;
    margin: 0;
    margin-bottom: 10px;
    padding: 10px 15px;
    padding-right: 40px;
    font-size: inherit;
    line-height: inherit;
    font-family: inherit;
    color: inherit;
    text-transform: uppercase;
    background-color: #f9f6f3;
    border: 2px solid #000000;
    outline: none;
}

.login-form input:focus {
    border-color: #663d15;
}

.login-form input.icon-user {
    background-image: url("../img/icon/sprait.png");
    background-repeat: no-repeat;
    background-position: 100% -230px;
}

.login-form input.icon-password {
    background-image: url("../img/icon/sprait.png");
    background-repeat: no-repeat;
    background-position: 100% -265px;
}

.login-form .restore {
    float: right;
    color: #000000;
}

.login-form .btn {
    width: 100%;
    margin-top: 15px;
}

.login-checkbox {
    position: relative;
    padding-left: 30px;
    cursor: pointer;
}

.login-checkbox:hover {
    color: #663d15;
}

.login-checkbox input[type="checkbox"] + .checkbox-indicator {
    position: absolute;
    top: -3px;
    left: 0;
    width: 17px;
    height: 17px;

    border: 2px solid #000000;
}

.login-checkbox input[type="checkbox"]:checked + .checkbox-indicator::before,
.login-checkbox input[type="checkbox"]:checked + .checkbox-indicator::after {
    content: "";
    position: absolute;
    top: 8px;
    left: 1px;

    width: 15px;
    height: 2px;

    background-color: #000000;
}

.login-checkbox input[type="checkbox"]:checked + .checkbox-indicator::before {
    transform: rotate(45deg);
}

.login-checkbox input[type="checkbox"]:checked + .checkbox-indicator::after {
    transform: rotate(-45deg);
}
/*.sprite {
    background-image: url(spritesheet.png);
   background-repeat: no-repeat;
    display: block;
}

.sprite-cross {
    width: 12px;
    height: 12px;
    background-position: -10px -10px;
}

.sprite-fb {
    width: 12px;
    height: 22px;
    background-position: -10px -42px;
}

.sprite-fb-black {
    width: 12px;
    height: 22px;
    background-position: -10px -84px;
}

.sprite-icon-login {
    width: 18px;
    height: 16px;
    background-position: -10px -126px;
}

.sprite-inst {
    width: 21px;
    height: 21px;
    background-position: -10px -162px;
}

.sprite-inst--black {
    width: 21px;
    height: 21px;
    background-position: -10px -203px;
}

.sprite-user-form1 {
    width: 15px;
    height: 15px;
    background-position: -10px -244px;
}

.sprite-user-form2 {
    width: 15px;
    height: 17px;
    background-position: -10px -279px;
}

.sprite-vk {
    width: 25px;
    height: 16px;
    background-position: -10px -316px;
}

.sprite-vk-black {
    width: 25px;
    height: 16px;
    background-position: -10px -352px;
}
*/
