 body {
	font-size: 14px;
	line-height: 24px;
	font-weight: bold;
	font-family: PT Sans Narrow, Arial, sans-serif;
} 

.features-name {
	font-size: 30px;
	line-height: 42px;
	color: #f7f4f1;
}

.index-content-title {
    font-size: 30px;
	line-height: 42px;
}

.breadcrumbs h1 {
	font-size: 30px;
	line-height: 42px;	
} 

h2 {
	font-size: 24px;
	line-height: 30px;
}

h3 {
	line-height: 18px;
}